SimuladorServerJogo/EstadoMundo/

ServerList/

EstadoMundo/
EstadosMundo/
EstadoServer/
EstadosServer/
EstadoServidor/
EstadosServidor/
EstadoServidor.json

__pycache__/
*.pyc
*.pyo
*.pyd

Outros/ConfigFixa.py